<div class="modal-header">
    <button type="button" class="close" {{action close 'overview' 'application' target="view"}}>&times;</button>
    <h3>Company details</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-3"><h4>Name</h4></div>
        <div class="col-lg-7">
            <div class="form-group">{{input value= controller.company_record.name class='form-control' disabled="disabled"}}</div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><h4>Vat number</h4></div>
        <div class="col-lg-7">
            <div class="form-group">{{input value= controller.company_record.vat class='form-control' disabled="disabled"}}</div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><h4>Street</h4></div>
        <div class="col-lg-7">
            <div class="form-group">{{input value= controller.company_record.street class='form-control' disabled="disabled"}}</div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><h4>City</h4></div>
        <div class="col-lg-7">
            <div class="form-group">{{input value= controller.company_record.city class='form-control' disabled="disabled"}}</div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><h4>Phone</h4></div>
        <div class="col-lg-7">
            <div class="form-group">{{input value= controller.company_record.phone class='form-control' disabled="disabled"}}</div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" {{action close 'overview' 'application' target="view"}}>Close</a>
</div>