<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th style="width: 5%">Service</th>
                        <th style="width: 20%">Bill to</th>
                        <th style="width: 20%">Cost</th>
                        <th style="width: 20%"></th>
                        <th style="width: 20%">PER</th>
                        <th style="width: 10%"></th>
                        {{#unless isRegister}}
                            <th style="width: 5%">Remove</th>
                        {{/unless}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#each chargeItem in controller.item_record.chargeItems}}
                        {{#if chargeItem.is_chargeType_cost}}
                            {{#if chargeItem.is_entityType_item}}
                                {{#if controller.tabList.container}}
                                    {{#if chargeItem.isTypeContainer}}
                                        <tr>
                                            <td>{{chargeItem.code}}</td>
                                            <td>
                                                {{#if isRegister}}
                                                    {{input value= chargeItem.billTo.name class='form-control' disabled= true}}
                                                {{else}}
                                                    <!--<a id="autocomplete-charge">-->
                                                    {{select-2
                                                    content= app_controller.autocompleteCompany
                                                    value= chargeItem.billTo
                                                    optionLabelPath="name"
                                                    placeholder="Choose a charge"
                                                    typeaheadNoMatchesText="No charge found for '%@'"
                                                    typeaheadErrorText="Loading failed: %@"
                                                    enabled=true
                                                    allowClear=true}}
                                                        {{!{{auto-complete source=app_controller.autocompleteCompany destination=chargeItem.billTo searchPath="name" minChars=1}}
                                                    <!--</a>-->
                                                {{/if}}

                                            </td>
                                            <td> {{view Ember.Select content=currencyClassification value=chargeItem.costCurrency class='form-control' disabled=isRegister}}</td>
                                            <td>
                                                {{input value=chargeItem.cost type='number' class='form-control' disabled=isRegister}}
                                            </td>
                                            <td>{{view Ember.Select content=controller.per_list value=chargeItem.multiplier class='form-control' disabled=isRegister}}</td>
                                            {{#if chargeItem.isMultiplierNum}}
                                                <td>
                                                    {{input type='number' value= chargeItem.num class='form-control' disabled=isRegister}}
                                                </td>
                                            {{else}}
                                                <td> </td>
                                            {{/if}}
                                            {{#unless isRegister}}
                                                <td><a href="#"><span class="glyphicon glyphicon-remove" {{action "open_modal" 'booking.modals.remove-charge-item' this chargeItem }}></span></a></td>
                                            {{/unless}}
                                        </tr>
                                    {{/if}}
                                {{/if}}
                                {{#if controller.tabList.roro}}
                                    {{#if chargeItem.isTypeRoRo}}
                                        <tr>
                                            <td>{{chargeItem.code}}</td>
                                            <td>
                                                {{#if isRegister}}
                                                    {{input value=chargeItem.billTo.name class='form-control' disabled= true}}
                                                {{else}}
                                                    <!--<a id="autocomplete-charge">-->
                                                    {{select-2
                                                    content= app_controller.autocompleteCompany
                                                    value= chargeItem.billTo
                                                    optionLabelPath="name"
                                                    placeholder="Choose a charge"
                                                    typeaheadNoMatchesText="No charge found for '%@'"
                                                    typeaheadErrorText="Loading failed: %@"
                                                    enabled=true
                                                    allowClear=true}}
                                                        {{!{{auto-complete source=app_controller.autocompleteCompany destination=chargeItem.billTo  searchPath="name" minChars=1}}
                                                    <!--</a>-->
                                                {{/if}}

                                            </td>
                                            <td> {{view Ember.Select content=currencyClassification value=chargeItem.costCurrency class='form-control' disabled=isRegister}}</td>
                                            <td>
                                                {{input value=chargeItem.cost type='number' class='form-control' disabled=isRegister}}
                                            </td>
                                            <td>{{view Ember.Select content=controller.per_list value=chargeItem.multiplier class='form-control' disabled=isRegister}}</td>
                                            {{#if chargeItem.isMultiplierNum}}
                                                <td>
                                                    {{input type='number' value= chargeItem.num class='form-control' disabled=isRegister}}
                                                </td>
                                            {{else}}
                                                <td> </td>
                                            {{/if}}
                                            {{#unless isRegister}}
                                                <td><a href="#"><span class="glyphicon glyphicon-remove" {{action "open_modal" 'booking.modals.remove-charge-item' this chargeItem }}></span></a></td>
                                            {{/unless}}
                                        </tr>
                                    {{/if}}
                                {{/if}}
                                {{#if controller.tabList.bb}}
                                    {{#if chargeItem.isTypeBB}}
                                        <tr>
                                            <td>{{chargeItem.code}}</td>
                                            <td>
                                                {{#if isRegister}}
                                                    {{input value= chargeItem.billTo.name class='form-control' disabled= true}}
                                                {{else}}
                                                    <!--<a id="autocomplete-charge">-->
                                                    {{select-2
                                                    content= app_controller.autocompleteCompany
                                                    value= chargeItem.billTo
                                                    optionLabelPath="name"
                                                    placeholder="Choose a charge"
                                                    typeaheadNoMatchesText="No charge found for '%@'"
                                                    typeaheadErrorText="Loading failed: %@"
                                                    enabled=true
                                                    allowClear=true}}
                                                        {{!{{auto-complete source=app_controller.autocompleteCompany destination=chargeItem.billTo  searchPath="name" minChars=1}}
                                                    <!--</a>-->
                                                {{/if}}
                                            </td>
                                            <td> {{view Ember.Select content=currencyClassification value=chargeItem.costCurrency class='form-control' disabled=isRegister}}</td>
                                            <td>
                                                {{input value= chargeItem.cost type='number' class='form-control' disabled=isRegister}}
                                            </td>
                                            <td>{{view Ember.Select content=controller.per_list value=chargeItem.multiplier class='form-control' disabled=isRegister}}</td>
                                            {{#if chargeItem.isMultiplierNum}}
                                                <td>
                                                    {{input type='number' value= chargeItem.num class='form-control' disabled=isRegister}}
                                                </td>
                                            {{else}}
                                                <td> </td>
                                            {{/if}}

                                            {{#unless isRegister}}
                                                <td><a href="#"><span class="glyphicon glyphicon-remove" {{action "open_modal" 'booking.modals.remove-charge-item' this chargeItem }}></span></a></td>
                                            {{/unless}}
                                        </tr>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>