<div class="row" style="margin-top: 25px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {{#if controller.searchResults}}
            {{#each controller.searchResults itemController='booking/freight-plan-book'}}     <!--itemViewClass="Em.View" itemController="freightPlanBook"-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{voyList}}
                            <span class="pull-right">
                               {{input type="checkbox" checked=isChecked}}  Book
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{#each freightVoyages}}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{unbound 'indexes-each-helper' this.id _view.contentIndex}}">
                                            <div style="color: darkgray">
                                                {{voyage.name}}
                                                {{#if transhipmentTo.poi.name}}<span class="pull-right">To:&nbsp;<strong>{{transhipmentTo.poi.name}}&nbsp;&nbsp;&nbsp;</strong></span>{{/if}}
                                                {{#if transhipmentFrom.poi.name}}<span class="pull-right">From:&nbsp;<strong>{{transhipmentFrom.poi.name}}&nbsp;&nbsp;&nbsp;</strong></span>{{/if}}
                                            </div>
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-collapse collapse" id="{{unbound 'indexes-each-helper' this.id _view.contentIndex}}">
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                            <tr style="border-bottom: 2px solid #000000;">
                                                <th>Transhipment</th>
                                                <th>Leg</th>
                                                <th>Date</th>
                                                <!--<th>Arrival</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> Embarking </td>
                                                <td>{{transhipmentFrom.poi.name}}</td>
                                                {{#if transhipmentFrom.atd}}
                                                    <td>{{transhipmentFrom.atd}}</td>
                                                {{else}}
                                                    <td>{{transhipmentFrom.etd}}</td>
                                                {{/if}}
                                            </tr>
                                            <tr>
                                                <td> Disembarkation </td>
                                                <td>{{transhipmentTo.poi.name}}</td>
                                                {{#if transhipmentTo.ata}}
                                                    <td>{{transhipmentTo.ata}}</td>
                                                {{else}}
                                                    <td>{{transhipmentTo.eta}}</td>
                                                {{/if}}
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="col-lg-1"></div>
</div>

{{#if controller.searchResults}}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h5 class="page-header"></h5>
            {{#view 'standby-button' action_name='save_freightPlan' arg1=id arg2=null data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                <span class="ladda-label">Confirm</span>
            {{/view}}
            <!--<button type="submit" class="btn btn-primary btn-130 pull-right" {{!{{action "save_freightPlan" this}}>-->
                <!--<span class="glyphicon glyphicon-ok"></span> Confirm-->
            <!--</button>-->
        </div>
        <div class="col-lg-1"></div>
    </div>
{{/if}}