<!--

TYPE: partial
FROM: 'templates/bookings/pieces/_buttonLeftNav'

-->

{{#if controller.is_admin}}
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "changeState" "lock" id}}>
                Unregister
            </button>
        </div>
    </div>
    {{!{{#inArray App.grantsValue "access/booking/remove"}}
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "openModal_deleteBooking" 'modalRemove_booking' id}}>
                    <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                </button>
            </div>
        </div>
    {{!{{/inArray}}

    {{#unless isDocBL}}
        <h5 class="page-header"></h5>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-small btn-group-justified pull-right" {{action 'openModal_BL' id 'docBL'}}>Bill of Lading</button>
            </div>
        </div>
    {{/unless}}
{{/if}}

<!-- SHIPOWNER -->
{{#if controller.is_shipowner}}
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "changeState" "lock" id}}>
                <p>Unregister</p>
            </button>
        </div>
    </div>
    {{!{{#inArray App.grantsValue "access/booking/remove"}}
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "openModal_deleteBooking" 'modalRemove_booking' id}}>
                    <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                </button>
            </div>
        </div>
{{!{{/inArray}}
{{/if}}