<!--

TYPE: partial
FROM: 'templates/bookings/pieces/_buttonLeftNav'

-->


    <!-- ADMIN -->
    {{#if controller.is_admin}}
        <h5 class="page-header"></h5>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "changeState_and_share" this "edit" client 'lock'}}>
                    <span class="glyphicon glyphlink glyphicon-fast-backward" ></span> Unlock
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-info btn-group-justified" {{action "changeState" "register" this}}>
                    <span class="glyphicon glyphlink glyphicon-folder-close"  style="color: aliceblue"></span> Register
                </button>
            </div>
        </div>
        <br>
        {{#if canRemove}}
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "open_modal" 'booking.modals.remove-booking' this}}>
                        <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                    </button>
                </div>
            </div>
        {{/if}}

        {{#unless isDocBL}}
            <h5 class="page-header"></h5>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary btn-small btn-group-justified pull-right"{{action "open_modal" 'booking.modals.new-bill-of-lading' this}}>Bill of Lading</button>
                </div>
            </div>
            <br>

        {{/unless}}
    {{/if}}

    <!-- AGENCIES -->
    {{#if controller.is_agency}}
        {{#if canEdit}}
            {{#unless isDocBL}}
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-small btn-group-justified pull-right" {{action "open_modal" 'booking.modals.new-bill-of-lading' this}}>Bill of Lading</button>
                    </div>
                </div>

            {{/unless}}
        {{/if}}

        {{#if noFreightPlan}}
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "changeState_and_share" this "edit" client 'lock'}}>
                        <span class="glyphicon glyphlink glyphicon-fast-backward" ></span> Unlock
                    </button>
                </div>
            </div>
        {{/if}}


        {{#if canRemove}}
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "open_modal" 'booking.modals.remove-booking' this}}>
                        <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                    </button>
                </div>
            </div>
        {{/if}}
    {{/if}}

    <!-- SHIPOWNER -->
    {{#if controller.is_shipowner}}
        {{#if canEdit}}
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "changeState_and_share" this "edit" client 'lock'}}>
                        <span class="glyphicon glyphlink glyphicon-fast-backward" ></span> Unlock
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-info btn-group-justified"  {{action "changeState_and_share" this "register" client 'lock'}}>
                        <span class="glyphicon glyphlink glyphicon-folder-close"  style="color: aliceblue"></span> Register
                    </button>
                </div>
            </div>
        {{/if}}

        {{#if canRemove}}
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "open_modal" 'booking.modals.remove-booking' this}}>
                        <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                    </button>
                </div>
            </div>
        {{/if}}
    {{/if}}

