<!--

TYPE: partial
FROM: 'templates/bookings/pieces/_buttonLeftNav'

-->

    <!-- ADMIN -->
    {{#if controller.is_admin}}
        <h5 class="page-header"></h5>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-info btn-group-justified" {{action "changeState" "pending" this}}>
                    Back to Pend.
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                {{#if isAccept}}
                    <button type="button" style="text-align: left" class="btn btn-primary btn-group-justified " {{action "changeState_and_share" this "lock" client 'edit'}}>
                        <span class="glyphicon glyphlink glyphicon-check"  style="color: aliceblue"></span> Lock
                    </button>
                {{/if}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "open_modal" 'booking.modals.share' this}}>
                    Share Edit
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "open_modal" 'booking.modals.share-view' this}}>
                    Share View
                </button>
            </div>
        </div>
    {{/if}}

    <!-- AGENCIES -->
    {{#if controller.is_agency}}
        {{#if canEdit}}
            {{#if freightPlans}}
                {{#if isNaN_orReject}}
                    <div class="row" style="margin-top: 15px">
                        <div class="col-lg-12">
                            <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "acknowledge" this 'requested'}}>
                                Send Request
                            </button>
                        </div>
                    </div>
                    <br>
                {{/if}}
            {{/if}}
            {{#if isAccept}}
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" style="text-align: left" class="btn btn-primary btn-group-justified " {{action "changeState_and_share" this "lock" client 'edit'}}>
                            <span class="glyphicon glyphlink glyphicon-check"  style="color: aliceblue"></span> Lock
                        </button>
                    </div>
                </div>
                <br>
            {{/if}}
            {{#if noFreightPlan}}
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" style="text-align: left" class="btn btn-primary btn-group-justified " {{action "changeState_and_share" this "lock" client 'edit'}}>
                            <span class="glyphicon glyphlink glyphicon-check"  style="color: aliceblue"></span> Lock
                        </button>
                    </div>
                </div>
                <br>
            {{/if}}
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "open_modal" 'booking.modals.share' this}}>
                        Share Edit
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "open_modal" 'booking.modals.share-view' this}}>
                        Share View
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-default btn-group-justified" {{action "open_modal" 'booking.modals.unshare' this}}>
                        Unshare
                    </button>
                </div>
            </div>
            <br>
        {{/if}}

        {{#if canRemove}}
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" style="text-align: left" class="btn btn-danger btn-group-justified" {{action "open_modal" 'booking.modals.remove-booking' this}}>
                        <span class="glyphicon glyphlink glyphicon-remove"  style="color: aliceblue"></span> Delete
                    </button>
                </div>
            </div>
            <br>
        {{/if}}
    {{/if}}

    <!-- SHIPOWNER -->
    {{#if controller.is_shipowner}}
        {{#if canEdit}}
            {{#if isAccept}}
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" style="text-align: left" class="btn btn-info btn-group-justified " {{action "changeState_and_share" this "lock" client 'edit'}}>
                            <span class="glyphicon glyphlink glyphicon-check"  style="color: aliceblue"></span> Lock
                        </button>
                    </div>
                </div>
                <br>
            {{/if}}
            <div class="row">
                <div class="col-lg-12">
                    {{#if freightPlans}}
                        {{#unless isNaN}}
                            <div class="btn-group  btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-success" {{action "acknowledge" this "accepted"}}>
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </label>
                                <label class="btn btn-danger" {{action "acknowledge" this "rejected"}}>
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </label>
                            </div>
                            <br>
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
        {{/if}}
    {{/if}}

