{{#each freightEquipment in controller.item_record.freightEquipments}}{{/each}}  <!--utile solo per non perdere riferimento al freight equipment durante il salvataggio-->
<div class="row">
    <div class="col-lg-12">
        <label>Customs Agent</label>
        {{#if isLockedOrRegistered}}
            {{input value= controller.item_record.customManifestHandler.name type="text" class='form-control' disabled=true}}
        {{else}}
            <a id="autocomplete-itemCustomManifestHandlerName">
                {{auto-complete source=app_controller.autocompleteCompany destination= controller.item_record.customManifestHandler searchPath="name" minChars=1}}
            </a>
        {{/if}}
    </div>
</div>
<div class="page-header"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            {{#if isRegister}}
                <div class="col-lg-2">
                    <label>Check</label>
                </div>
            {{else}}
                <div class="col-lg-2">
                    <label style="color: red">Check {{#if isLocked}}(*){{/if}}</label><br>
                    <button type="button" class="btn btn-default" id="button_add_Address">{{input type="checkbox" name="custom" checked=controller.item_record.custom}}</button>
                </div>
            {{/if}}
            <div class="col-lg-10">
                <label>Location</label>
                {{#if isLockedOrRegistered}}
                    {{input value= controller.item_record.customPoi.name type="text" class='form-control' disabled=isLockedOrRegistered}}
                {{else}}
                    <a id="autocomplete-customLocation">
                        {{auto-complete source=app_controller.autocompletePoi destination= controller.item_record.customPoi searchPath="name" minChars=0}}
                    </a>
                {{/if}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <label>Custom broker</label>
                {{#if isLockedOrRegistered}}
                    {{input value= controller.item_record.customBroker.name type="text" class='form-control' disabled=isLockedOrRegistered}}
                {{else}}
                    <a id="autocomplete-customBroker">
                        {{auto-complete source=app_controller.autocompleteCompany destination=controller.item_record.customBroker searchPath="name" minChars=0}}
                    </a>
                {{/if}}
            </div>
            <div class="col-lg-6">
                <label>Freight forwarding agent</label>
                {{#if isLockedOrRegistered}}
                    {{input value= controller.item_record.freightForwardingAgent.name type="text" class='form-control' disabled=isLockedOrRegistered}}
                {{else}}
                    <a id="autocomplete-customAgent">
                        {{auto-complete source=app_controller.autocompleteCompany destination= controller.item_record.freightForwardingAgent searchPath="name" minChars=0}}
                    </a>
                {{/if}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <label>Contact person</label>
                {{input value= item.customContactPerson type="text" class='form-control' disabled=isLockedOrRegistered}}
            </div>
            <div class="col-lg-6">
                <label>Phone number</label>
                {{input value= item.customContactPhone type="text" class='form-control'  disabled=isLockedOrRegistered}}
            </div>
        </div>
    </div>
</div>