
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        {{#unless isRegister}}
            <div class="row">
                <br>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    {{#view 'upload-file' value1='booking'}}
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse file&hellip; <input type="file" multiple>
                                </span>
                            </span>
                            {{input id="selected_file" type="text" placeholder="max. 10 MB" class='form-control'}}
                            <span class="input-group-btn">
                            <button id='button_upload' {{bind-attr value=controller.item_record.id}} type="button" data-loading-text="Loading..." class="btn btn-primary btn-130 pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Upload</button>
                            </span>
                        </div>
                    {{/view}}
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
        {{/unless}}
        <div class=row>
            <div class="col-lg-10">
                <div class='page-header'><h3>All files</h3></div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class=row>
            <div class="col-lg-10">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Download</th>
                        {{#unless isRegister}}
                            <th>Remove</th>
                        {{/unless}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#each file in controller.item_record.files}}
                        <tr>
                            <td>{{file.name}}</td>
                            <td>{{file.type}}</td>
                            <td><a href="#" {{action "download_file" file.id}}><span class="glyphicon glyphicon-download"></span></a></td>
                            {{#unless isRegister}}
                                <td><a href="#" {{action "open_modal" 'booking.modals.remove-file' this file}}><span class="glyphicon glyphicon-remove"></span></a></td>
                            {{/unless}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
