
{{#if controller.is_loading}}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="well well-lg" style="background-color: #FAFDFD">
                <h3 class="page-header">Loading...</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
{{else}}
    {{#unless controller.before_search}}
        {{#if app_controller.searchResults}}
            <div class="row"><div class="col-lg-12"><h3 class="page-header">Search results:</h3><br></div></div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size code</th>
                            <th>Type code</th>
                            <th>ISO code</th>

                            <th>Preview</th>
                            <th>Go to</th>
                            {{#if app_controller.user_record.equipmentClassification_remove}}
                                <th>Remove</th>
                            {{else}}
                                <th></th>
                            {{/if}}
                        </tr>
                        </thead>
                        <tbody>
                        {{#each equipmentClassification in app_controller.searchResults}}
                            <tr>
                                <td>{{equipmentClassification.name}}</td>
                                <td>{{equipmentClassification.sizeCode}}</td>
                                <td>{{equipmentClassification.typeCode}}</td>
                                <td>{{equipmentClassification.isoCode}}</td>

                                <td><a href="#" {{action "open_modal" 'equipment-classification.modals.overview-record' equipmentClassification}}><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                <td>{{#link-to 'equipment-classification/main' equipmentClassification.id}}<span class="glyphicon glyphicon-list-alt"></span>{{/link-to}}</td>
                                {{#if equipmentClassification.canRemove}}
                                    <td><a href="#" {{action "open_modal" 'equipment-classification.modals.remove-record' equipmentClassification}}><span class="glyphicon glyphicon-remove"></span></a></td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="well well-lg" style="background-color: #FAFDFD">
                        <h3 class="page-body">No results.</h3>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        {{/if}}
    {{/unless}}
{{/if}}


<!--   infinite scroll  -->
{{#if app_controller.loadingMore}}
    <div class="alert alert-info"><p style="text-align: center"><strong>Loading more...</strong></p></div>
{{/if}}