<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class= "well well-lg" style="background-color: #FAFDFD">
            <div class="row">
                <div class="col-lg-6">
                    <p class="lead">Document Search</p>
                </div>
                <div class="col-lg-6">
                    {{#view "search"}}
                        <button type="button" class="btn btn-primary btn-130 pull-right">
                            <span class="glyphicon glyphbutton glyphicon-search"></span> Search
                        </button>
                    {{/view}}
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <label>Type</label>
                    {{#if controller.is_shipowner}}
                        {{view Ember.Select content=docLLFPType value=controller.docType class='form-control'}}
                    {{/if}}
                    {{#if controller.is_agency}}
                        {{view Ember.Select content=docBLCMType value=controller.docType class='form-control'}}
                    {{/if}}
                    {{#if controller.is_admin}}
                        {{view Ember.Select content=docAllType value=controller.docType class='form-control'}}
                    {{/if}}
                </div>
                <div class="col-lg-5">
                    <label>Voyage</label>
                    <a id="autocomplete-voyage">
                        {{auto-complete source=app_controller.autocompleteVoyage destination=controller.searchVoy searchPath="name" minChars=1}}
                    </a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <label>Origin</label>
                    <a id="autocomplete-origin">
                        {{auto-complete source=app_controller.autocompletePoiPort destination=controller.searchOrigin searchPath="name" minChars=1}}
                    </a>
                </div>
                <div class="col-lg-5">
                    <label>Destination</label>
                    <a id="autocomplete-destination">
                        {{auto-complete source=app_controller.autocompletePoiPort destination=controller.searchDestination searchPath="name" minChars=1}}
                    </a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <label>Shipper</label>
                    {{input value=docShipper class='form-control'}}
                </div>
                <div class="col-lg-5">
                    <label>Consignee</label>
                    {{input value=docConsignee class='form-control'}}
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <label>Notify</label>
                    {{input value=docNotify class='form-control'}}
                </div>
                <div class="col-lg-5">
                    <label>Code</label>
                    {{input value=docCode class='form-control'}}
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <label>Booking ref.</label>
                    {{input value=controller.searchBookRef class='form-control'}}
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

