<div class="container">
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
                <li {{bind-attr class="controller.tabList.links:active"}}>
                    <a href="#"{{action setTabs "links"}}><h4>Connected Companies</h4></a>
                </li>
                <li {{bind-attr class="controller.tabList.groups:active"}}>
                    <a href="#" {{action setTabs "groups"}}><h4>Groups</h4></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in">
                    {{#if controller.tabList.links}}
                        {{partial "link/partials/-connected-companies"}}
                    {{/if}}
                    {{#if controller.tabList.groups}}
                        {{partial "link/partials/-groups"}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

