<div class="container">
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><h3>Linked Companies</h3></li>
            </ul>
            <div class="tab-content"  style="margin-bottom: 25px">
                <div class="tab-pane fade active in"></div>
                {{#if controller.addFeatureToGroup}}
                    <div class="btn-group  btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-default active" {{action 'change_mode' 'addFeatureToGroup' false}}>
                            {{input type="radio" name="options"}} Show List
                        </label>
                        <label class="btn btn-default" {{action 'change_mode' 'addFeatureToGroup' true}}>
                            {{input type="radio" name="options"}} Show Group
                        </label>
                    </div>
                {{else}}
                    <div class="btn-group  btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-default" {{action 'change_mode' 'addFeatureToGroup' false}}>
                            {{input type="radio" name="options"}} <span class="glyphicon glyphicon-list"></span> Show List
                        </label>
                        <label class="btn btn-default active" {{action 'change_mode' 'addFeatureToGroup' true}}>
                            {{input type="radio" name="options"}} <span class="glyphicon glyphicon-th-large"></span> Show Group
                        </label>
                    </div>
                {{/if}}
                <br>
                {{#if controller.addFeatureToGroup}}
                    <div class= "well well-lg" style="background-color: #FAFDFD">
                        <div class="row" style="margin-top: 25px; margin-bottom: 20px">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2"><h4><strong>Add company</strong></h4></div>
                            <div class="col-lg-4">
                                <a id="autocomplete-company">
                                    {{auto-complete source=app_controller.autocompleteCompany destination=controller.searchCompany searchPath="name" minChars=0}}
                                </a>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-default btn-130" {{action "open_modal" 'link.modals.company-view' controller.searchCompany}}>View</button>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary btn-130 pull-right" {{action "custom_linkCompanies" controller.searchCompany.id}}>Connect</button>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                {{else}}
                    <div class= "well well-lg" style="background-color: #FAFDFD">
                        <div class="row" style="margin-top: 25px;margin-bottom: 15px">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10"><h4><strong>Create new group</strong></h4></div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label>Name</label>
                                {{input type=text value= newGorup class='form-control'}}
                            </div>
                            <div class="col-lg-4">
                                <label>Type</label>
                                {{input type=text value= newType class='form-control'}}
                            </div>
                            <div class="col-lg-2" style="margin-top: 25px" >
                                <button class="btn btn-primary btn-130 pull-right" {{action "create_group" this newGorup newType}}>Save</button>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                {{/if}}

            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>