<div class="row" style="margin-top: 25px">
    <div class="col-lg-12">
        {{#if links}}
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th width="20%">Company</th>
                    <th width="30%">Add feature</th>
                    <th width="5%"></th>
                    <th width="50%">Features list</th>
                    {{!{{#if app_controller.user_record.company_remove}}
                    <th width="5%">Remove</th>
                    {{!{{/if}}
                </tr>
                </thead>
                <tbody>
                {{#each link in links}}
                    <tr>
                        <td><a href="#" {{action "open_modal" 'link.modals.company-view' link}}>{{link.name}}</a></td>
                        <td>
                            <a id="autocomplete-referringPort">
                                {{auto-complete source=app_controller.autocompletePoiPort destination=referringPort searchPath="name" size=20 minChars=0}}
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button" {{action 'create_feature' link referringPort.name referringPort.id}}>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                        <td>
                        {{#each feature in link.features}}
                            <span style="display:block; float:left; margin:5px 0 0 2px;">
                                <span class="label label-info" style="font-size: 12px;">
                                    <span>{{feature.value}}</span>
                                    <a {{action "delete_record" feature}}>
                                        <i class="remove glyphicon glyphicon-remove" style="color: #f5f5f5; cursor: pointer"></i>
                                    </a>
                                </span>
                                &nbsp
                            </span>
                        {{/each}}
                        </td>
                        <!--<td><a href="#" {{!{{action "getId" 'company/main' link}}><span class="glyphicon glyphicon-share-alt" ></span></a></td>-->
                        {{!{{#if link.canRemove}}
                            <td><a href="#"><span class="glyphicon glyphicon-remove" {{action "open_modal" 'link.modals.company-remove' link}}></span></a></td>
                        {{!{{else}}
                            <!--<td></td>-->
                        {{!{{/if}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <div class="well well-lg" style="background-color: #FAFDFD">
                <h4 class="page-body">There are not connected companies.</h4>
            </div>
        {{/if}}
    </div>
</div>