
<div class="row" style="margin-top: 45px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class= "well well-lg" style="background-color: #FAFDFD">
            <div class="row" style="margin-top: 25px;margin-bottom: 15px">
                <div class="col-lg-1"></div>
                <div class="col-lg-10"><h4><strong>Create new group</strong></h4></div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <label>Name</label>
                    {{input type=text value= newGorup class='form-control'}}
                </div>
                <div class="col-lg-4">
                    <label>Type</label>
                    {{input type=text value= newType class='form-control'}}
                </div>
                <div class="col-lg-2" style="margin-top: 25px" >
                    <button class="btn btn-primary btn-130 pull-right" {{action "create_group" this newGorup newType}}>Save</button>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row" style="margin-top: 25px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {{#each group in groups}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{unbound 'indexes-each-helper' this.id _view.contentIndex}}">
                            <div style="color: darkgray">
                                <strong>Name: </strong> {{group.name}}
                                <strong>Type: </strong> {{group.type}}
                            </div>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="{{unbound 'indexes-each-helper' this.id _view.contentIndex}}">
                    <div class="panel-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" {{action 'change_mode' 'addFeatureToGroup' false}}><strong>Add feature</strong></button>
                            <button type="button" class="btn btn-default" {{action 'change_mode' 'addFeatureToGroup' true}}><strong>Return</strong></button>
                        </div>
                        {{#if controller.addFeatureToGroup}}
                            ciao ciao ciao
                        {{else}}
                            no no on
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

