<div class="container">
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class= "well well-lg" style="background-color: #FAFDFD">
                        <p class="lead"><h3>Vessel</h3>
                        <p><h5>Name: <b>{{name}}</b></h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="page-header"></h3>
                                {{#link-to 'vessel/search-vessel'}}
                                    <button type="button" class="btn btn-primary btn-group-justified">
                                        Back to Search
                                    </button>
                                {{/link-to}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
                        <li {{bind-attr class="controller.tabList.details:active"}}>
                            <a href="#"{{action setTabs "details"}}><h4>Details</h4></a>
                        </li>
                        <li {{bind-attr class="controller.tabList.files:active"}}>
                            <a href="#" {{action setTabs "files"}}><h4>Files</h4></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in">
                            {{#if controller.tabList.details}}
                                {{partial "vessel/partials/-details"}}
                            {{/if}}
                            {{#if controller.tabList.files}}
                                {{partial "vessel/partials/-files"}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
