<div class="row" style="margin-top: 60px; margin-bottom: 25px; margin-left: 25px; margin-right: 25px;">
    <div class="col-lg-12">
    {{#view "check-unique-field" model_val='equipment' filter_val='code' val=code path='equipment.new-record'}}
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-3"><h4>Code</h4></div>
            <div class="col-lg-9">
                <div class="input-group input-group">
                    {{input value= code placeholder='Enter name' class='form-control' disabled=controller.isView}}
                    <span class="input-group-addon " id="1"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>
    {{/view}}
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-3"><h4>Classification</h4></div>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{input id='classification' value= equipmentClassification.name placeholder='Enter name' class='form-control' disabled="disabled"}}
                {{else}}
                    <a id="autocomplete-classification">
                        {{auto-complete source=app_controller.autocompleteEqClassification destination= equipmentClassification searchPath="name" minChars=2}}
                    </a>
                {{/if}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-3"><h4>Daily cost</h4></div>
            {{#if controller.isView}}
                <div class="col-lg-9">
                    <div class="input-group input-group">
                        {{input id='daily' value= dailyCost placeholder='Enter daily cost' class='form-control' disabled="disabled"}}
                        <span class="input-group-addon " id="1">{{currency}}</span>
                    </div>
                </div>
            {{else}}
                <div class="col-lg-6">
                    <div class="form-group">
                        {{input value=dailyCost type='number' placeholder='Enter daily cost' class='form-control'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    {{view Ember.Select content=app_controller.currencyClassification value=currency class='form-control'}}
                </div>
            {{/if}}
        </div>
        <div class="row">
            <div class="col-lg-3"><h4>Position</h4></div>
            <div class="col-lg-9">
                <div class="form-group">
                    {{#if controller.isView}}
                        {{input id='position' value= position.name class='form-control' disabled=true}}
                    {{else}}
                        {{auto-complete source=app_controller.autocompletePoi destination= position searchPath="name" minChars=2}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-3"><h4>Available</h4></div>
            <div class="col-lg-9">
                <label class="form-control" style="text-align: left">{{input type="checkbox" checked= available disabled=controller.isView}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><h4>Current status</h4></div>
            <div class="col-lg-9">
                <div class="form-group">
                    {{#if controller.isView}}
                        {{input value= currentStatus class='form-control' disabled= true}}
                    {{else}}
                        {{view Ember.Select content=controller.statuses value=currentStatus class='form-control' disabled=controller.isView}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><h4>Current status date</h4></div>
            <div class="col-lg-9">
                <div class="form-group">
                    {{#if controller.isView}}
                        {{input value= currentStatusDateFrom class='form-control' disabled='true'}}
                    {{else}}
                        {{date-picker-custom controls='currStatusDate' value=currentStatusDateFrom placeholder='YYYY-MM-DD' dateFormat="YYYY-MM-DD"}}
                        {{date-picker-controls id='currStatusDate' maxYear="+50" minYear="-10"}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header"></h4>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-3"><h4>Supplier</h4></div>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{input id='supplier' value= supplier.name placeholder='Enter name' class='form-control' disabled="disabled"}}
                {{else}}
                    <a id="autocomplete-supplier">
                        {{auto-complete source=app_controller.autocompleteCompany destination= supplier searchPath="name" minChars=2}}
                    </a>
                {{/if}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-3"><h4>Holder</h4></div>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{input id='holder' value= holder.name placeholder='Enter name' class='form-control' disabled="disabled"}}
                {{else}}
                    <a id="autocomplete-holder">
                        {{auto-complete source=app_controller.autocompleteCompany destination= holder searchPath="name" minChars=2}}
                    </a>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><h4>Planners:</h4></div>
            <div class="col-lg-9">
                {{#if controller.isView}}
                    {{#each planner in planners}}
                    <div class="form-group" style="margin-bottom: 15px">
                        {{input value=planner.name type="text" placeholder='Enter email' class='form-control' disabled=true}}
                    </div>


                    {{/each}}
                {{else}}
                    {{#each planner in planners}}
                        <div class="input-group" style="margin-bottom: 15px">
                            {{input value=planner.name type="text" placeholder='Enter email' class='form-control' disabled=true}}
                            <span class="input-group-btn">
                                <button class="btn btn-danger " type="button" {{action 'remove_planner' this planner}}>
                                    <span class="glyphicon glyphicon-remove" style="color: aliceblue"></span>
                                </button>
                            </span>
                        </div>

                    {{/each}}
                {{/if}}
            </div>
        </div>
        {{#unless controller.isView}}
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <a id="autocomplete-planner">
                        {{auto-complete source=app_controller.autocompleteCompany destination=controller.searchPlanner searchPath="name" minChars=2}}
                    </a>
                </div>
            </div>
        {{/unless}}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><h4>Certificate:</h4></div>
            <div class="col-lg-9">
                <table class="table table-striped table-condensed">
                    <tbody>
                    {{#each rina in rinas}}
                        <tr>
                            <td style="width: 10%"><p style="margin-top: 6px"><strong>On hire:</strong></p></td>
                            <td style="width: 35%">
                                {{#if controller.isView}}
                                    {{input value= rina.from class='form-control' disabled='true'}}
                                {{else}}
                                    {{date-picker-custom controls=rina.fromId value=rina.from placeholder='YYYY-MM-DD' dateFormat="YYYY-MM-DD"}}
                                    {{date-picker-controls id=rina.fromId maxYear="+50" minYear="-10"}}
                                {{/if}}

                                {{!{{input value= rina.from type='date' class='form-control'}}
                            </td>
                            <td style="width: 2%"></td>
                            <td style="width: 6%"><p style="margin-top: 6px"><strong>Off hire:</strong></p></td>
                            <td style="width: 35%">
                                {{#if controller.isView}}
                                    {{input value= rina.to class='form-control' disabled='true'}}
                                {{else}}
                                    {{date-picker-custom controls=rina.toId value=rina.to placeholder='YYYY-MM-DD' dateFormat="YYYY-MM-DD"}}
                                    {{date-picker-controls id=rina.toId maxYear="+50" minYear="-10"}}
                                {{/if}}

                                {{!{{input value= rina.to type='date' class='form-control'}}
                            </td>
                            <td style="width: 2%"></td>
                            <td style="width: 10%">
                                {{#unless controller.isView}}
                                    <button class="btn btn-danger" type="button" {{action "open_modal" 'equipment.modals.remove-record' 'rina' this rina}}>
                                        <span class="glyphicon glyphicon-remove" style="color:aliceblue" ></span>
                                    </button>
                                {{/unless}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{#if canEdit}}
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="page-header"></h5>
                    {{#if controller.isView}}
                        <button type="submit" class="btn btn-primary btn-130 pull-right" {{action "change_state" false}}>Edit</button>
                    {{else}}
                        <div class="row">
                            <div class="col-lg-8">
                                <button type="button" class="btn btn-default btn-130 pull-right" {{action "add_planner" this}}><span class="glyphicon glyphicon-plus"></span> Add Planner</button>
                            </div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-default btn-130 pull-right" {{action "add_rina" this}}><span class="glyphicon glyphicon-plus"></span> Add Rina</button>
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary btn-130 pull-right" {{action "change_state" true this}}>Save</button>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</div>