<div class="row" style="margin-top: 25px">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <div class="row">
            <div class="alert alert-danger col-lg-10" style="display: none; ">
                <p style="text-align: center"><strong>Attention:</strong> please check if required fields have been entered.</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"><h4>Number</h4></div>
            <div class="col-lg-8">
                {{#view 'check-document-code' type=type val=name val1=code voyage=voyage.id token=controller.app_controller_token}}
                    <div class="form-group">
                        {{input type=text value= name class='form-control' disabled=isView}}
                    </div>
                {{/view}}
            </div>

        </div>
        {{#unless or_LL_CM_DO}}
            <div class="row">
                <div class="col-lg-4"><h4>Number of Originals</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{input value= nrOriginal class='form-control' disabled=isView}}
                    </div>
                </div>

            </div>
        {{/unless}}
        {{#if isBL}}
            <div class="row">
                <div class="col-lg-4"><h4>Basic template</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{view Ember.Select
                        content=app_controller.files_jrxml
                        value= jasperTemplate
                        optionValuePath="content.name"
                        optionLabelPath="content.name"
                        prompt="Select a basic template"
                        class='form-control'
                        disabled=isView
                        }}
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if isLL}}
            <div class="row">
                <div class="col-lg-4"><h4>Origin</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{input value= originLeg.poi.name class='form-control' disabled=true}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"><h4>Destination</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{input value= destinationLeg.poi.name class='form-control' disabled=true}}
                    </div>
                </div>
            </div>
        {{else}}
            {{#if isNotFP}}
                <div class="row">
                    <div class="col-lg-4"><h4>Origin</h4></div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            {{input value= origin.name class='form-control' disabled=true}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"><h4>Destination</h4></div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            {{input value= destination.name class='form-control' disabled=true}}
                        </div>
                    </div>
                </div>
                {{#if is_BL_OD}}
                    <div class="row">
                        <div class="col-lg-4"><h4>Voyage</h4></div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                {{input value= voyage.name class='form-control' disabled=true}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if isBL}}
            <div class="row">
                <div class="col-lg-4"><h4>B/L type</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{#if controller.isView}}
                            {{input value= bl_type class='form-control' disabled=isView}}
                        {{else}}
                            {{input value= bl_type class='form-control' disabled=isView}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"><h4>Dangerous goods</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{#if controller.isView}}
                            <label class="form-control" style="text-align: left">{{input type="checkbox" checked=dangerousGood_bool disabled=true}}</label>
                        {{else}}
                            <label class="form-control" style="text-align: left">{{input type="checkbox" checked=dangerousGood_bool}}</label>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"><h4>Shipper</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{textarea value=shipper cols="80" rows="4" class="form-control" disabled=isView}}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"><h4>Consignee</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{textarea value=consignee cols="80" rows="4" class="form-control" disabled=isView}}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"><h4>Notify</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{textarea value=notify cols="80" rows="4" class="form-control" disabled=isView}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4"><h4>Items In</h4></div>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{view Ember.Select
                        content=itemsInList
                        value=itemsIn
                        class="form-control"
                        disabled=isView
                        }}
                    </div>
                </div>

            </div>
            {{#if controller.isView}}
                {{#if stamps}}
                    <div class="row">
                        <div class="col-lg-4"><h4>List of stamps</h4></div>
                        {{#each stamp in stamps}}
                            <div class="col-lg-4"><h4></h4></div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    {{input value= stamp.name class='form-control' disabled= true}}
                                </div>
                            </div>
                        {{/each}}

                    </div>
                {{/if}}
            {{else}}
                {{#if stamps}}
                    <div class="row">
                        <div class="col-lg-4"><h4>List of stamps</h4></div>
                        {{#each stamp in stamps}}
                            <div class="col-lg-4"><h4></h4></div>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    {{input value= stamp.name placeholder='Enter name' class='form-control' disabled= true}}
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger " type="button" {{action 'remove_stamp' this stamp}}>
                                            <span class="glyphicon glyphicon-remove" style="color: aliceblue"></span>
                                        </button>
                                    </span>
                                </div>
                                <p></p>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/if}}
            {{#unless controller.isView}}
                <div class="row">
                    <div class="col-lg-4"><h4>Stamps</h4></div>
                    <div class="col-lg-8">
                        <a id="autocomplete-stamp">
                            {{auto-complete source=app_controller.autocompleteStamp destination=controller.searchStamp searchPath="name" minChars=0}}
                        </a>
                    </div>
                </div>
            {{/unless}}
        {{/if}}


        {{#if canEdit}}
            <div class="row">
                <h5 class="page-header"></h5>
                <div class="col-lg-10">
                    {{#if isBL}}
                        {{#unless controller.isView}}
                            <button type="submit" class="btn btn-default btn-130 pull-right" {{action "add_stamp" this }}>Add stamp</button>
                        {{/unless}}
                    {{/if}}
                </div>
                <div class="col-lg-2">
                    {{#unless isOD}}
                        {{#if controller.isView}}
                            <button type="submit" class="btn btn-primary btn-130 pull-right" {{action "set_docState" false}}>Edit</button>
                        {{else}}
                            {{#if isBL}}
                                {{#view 'standby-button' action_name='update_doc_bl' arg1=id data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                    <span class="ladda-label">Save</span>
                                {{/view}}
                                <!--{{!{{#view 'loading-button' record=id action_name='update_doc_bl'}}-->
                                    <!--<button type="submit" id='button_save' data-loading-text="Saving..." class="btn btn-primary btn-130 pull-right">-->
                                        <!--Save-->
                                    <!--</button>-->
                                <!--{{!{{/view}}-->
                            {{else}}
                                {{#view 'standby-button' action_name='updateDoc_other' arg1=id data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                    <span class="ladda-label">Save</span>
                                {{/view}}
                                {{!{{#view 'loading-button' record=id action_name='updateDoc_other'}}
                                    <!--<button type="submit" id='button_save' data-loading-text="Saving..." class="btn btn-primary btn-130 pull-right">-->
                                        <!--Save-->
                                    <!--</button>-->
                            {{!{{/view}}
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
