<div class="row" style="margin-top: 25px">
    <div class="col-lg-12">
        <div class= "well well-lg" style="background-color: #FAFDFD">
            <div class="row">
                <div class="col-lg-9">
                    <label><h4>Name</h4></label>
                    {{#if controller.revenuesTabList.bookingCharges}}
                        {{view Ember.Select content= bookingCharges_list value= newCharge prompt = 'please select a booking charge' class='form-control'}}
                    {{else}}
                        {{view Ember.Select content= allCharges_list value= newCharge prompt = 'please select an item charge' class='form-control'}}
                    {{/if}}
                </div>
                <div class="col-lg-3">
                    <br style="line-height:42px">
                    {{!{{#unless controller.is_shipowner}}
                        {{#if controller.revenuesTabList.bookingCharges}}
                            {{#view 'standby-button' action_name='add_ChargeItem' arg1=id arg2='none' arg3='booking' arg4=controller.is_shipowner data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                <span class="ladda-label">Add Charge</span>
                            {{/view}}
                            <!--<button type="submit" class="btn btn-primary custom130 pull-right" {{!{{action "add_ChargeItem" this 'none' 'booking' controller.is_shipowner}}>Add charge</button>-->
                        {{/if}}
                        {{#if controller.revenuesTabList.containerCharges}}
                            {{#view 'standby-button' action_name='add_ChargeItem' arg1=id arg2='container' arg3='booking' arg4=controller.is_shipowner data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                <span class="ladda-label">Add Charge</span>
                            {{/view}}
                            <!--<button type="submit" class="btn btn-primary custom130 pull-right" {{!{{action "add_ChargeItem" this 'container' 'booking' controller.is_shipowner}}>Add charge</button>-->
                        {{/if}}
                        {{#if controller.revenuesTabList.roroCharges}}
                            {{#view 'standby-button' action_name='add_ChargeItem' arg1=id arg2='roro' arg3='booking' arg4=controller.is_shipowner data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                <span class="ladda-label">Add Charge</span>
                            {{/view}}
                            <!--<button type="submit" class="btn btn-primary custom130 pull-right" {{!{{action "add_ChargeItem" this 'roro' 'booking' controller.is_shipowner}}>Add charge</button>-->
                        {{/if}}
                        {{#if controller.revenuesTabList.bbCharges}}
                            {{#view 'standby-button' action_name='add_ChargeItem' arg1=id arg2='bb' arg3='booking' arg4=controller.is_shipowner data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                <span class="ladda-label">Add Charge</span>
                            {{/view}}
                            <!--<button type="submit" class="btn btn-primary custom130 pull-right" {{!{{action "add_ChargeItem" this 'bb' 'booking' controller.is_shipowner}}>Add charge</button>-->
                        {{/if}}
                    {{!{{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>