{{#if isEditing}}
    {{partial 'booking/partials/revenues/-add-charge'}}
{{/if}}

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
            <li {{bind-attr class="controller.revenuesTable.revenues:active"}}>
                <a href="#"{{action setRevenuesTable "revenues" this}}>Revenues</a>
            </li>
            {{#if controller.is_shipowner}}
                <li {{bind-attr class="controller.revenuesTable.costs:active"}}>
                    <a href="#" {{action setRevenuesTable "costs" this}}>Costs</a>
                </li>
            {{/if}}
        </ul>
        <div class= "well well-lg" style="background-color: #FAFDFD; margin-top: 15px">
            {{#if controller.revenuesTable.revenues}}
                {{partial "booking/partials/revenues/-table-revenues"}}
            {{/if}}
            {{#if controller.is_shipowner}}
                {{#if controller.revenuesTable.costs}}
                    {{partial "booking/partials/revenues/-table-costs"}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

{{#unless isRegister}}
    <div class="row">
        <h5 class="page-header"></h5>
        <div class="col-lg-12">
            {{!{{#unless controller.is_shipowner}}
            {{#if controller.revenuesTabList.bookingCharges}}
                <button type="button" style="text-align: left" class="btn btn-primary btn-130 pull-right" {{action 'update_Charges' 'containerCharges' this 'none' 'booking'}}>
                    <span class="glyphicon glyphlink glyphicon-ok"  style="color: aliceblue"></span>Confirm
                </button>
            {{/if}}
            {{#if controller.revenuesTabList.containerCharges}}
                <button type="button" style="text-align: left" class="btn btn-primary btn-130 pull-right" {{action 'update_Charges' 'roroCharges' this 'container' 'booking'}}>
                    <span class="glyphicon glyphlink glyphicon-ok"  style="color: aliceblue"></span>Confirm
                </button>
            {{/if}}
            {{#if controller.revenuesTabList.roroCharges}}
                <button type="button" style="text-align: left" class="btn btn-primary btn-130 pull-right" {{action 'update_Charges' 'bbCharges' this 'roro' 'booking'}}>
                    <span class="glyphicon glyphlink glyphicon-ok"  style="color: aliceblue"></span>Confirm
                </button>
            {{/if}}
            {{#if controller.revenuesTabList.bbCharges}}
                <button type="button" style="text-align: left" class="btn btn-primary btn-130 pull-right" {{action 'update_Charges' 'itemCharges' this 'bb' 'booking'}}>
                    <span class="glyphicon glyphlink glyphicon-ok"  style="color: aliceblue"></span>Confirm
                </button>
            {{/if}}
            {{!{{/unless}}
        </div>
    </div>
{{/unless}}