<div class="row">
    <div class="col-lg-3">
        <div class= "well well-lg" style="background-color: #FAFDFD">
            <p class="lead"><h3>Company</h3>
            <p><h5>Name: <b>{{name}}</b></h5>
            <p><h5>Type: <b>{{type}}</b></h5>
            <p><h5>Visibility: <b>{{visibility}}</b></h5>

            <h3 class="page-header"></h3>
            {{#if controller.itemListActive}}
                <button type="button" class="btn btn-primary btn-group-justified" {{action 'goTo' false}}>
                    Back to List
                </button>
            {{else}}
                {{#if controller.itemEditActive}}
                    <button type="button" class="btn btn-primary btn-group-justified" {{action 'goTo' false}}>
                        Back to List
                    </button>
                {{else}}
                    {{#link-to 'company/search-company'}}
                        <button type="button" class="btn btn-primary btn-group-justified">Go to search</button>
                    {{/link-to}}
                {{/if}}
            {{/if}}

        </div>
    </div>
    <div class="col-lg-9">
        <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
            <li {{bind-attr class="controller.tabList.details:active"}}>
                <a href="#"{{action setTabs "details"}}><h4>Details</h4></a>
            </li>
            <!--user può essere visto se l'utente è admin o se la company è la sua-->
            {{#if controller.is_admin}}
                <li {{bind-attr class="controller.tabList.users:active"}}>
                    <a href="#" {{action setTabs "users"}}><h4>Users</h4></a>
                </li>
            {{else}}
                {{#if controller.is_myCompany}}
                    <li {{bind-attr class="controller.tabList.users:active"}}>
                        <a href="#" {{action setTabs "users"}}><h4>Users</h4></a>
                    </li>
                {{/if}}
            {{/if}}

            <li {{bind-attr class="controller.tabList.files:active"}}>
                <a href="#" {{action setTabs "files"}}><h4>Files</h4></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                {{#if controller.tabList.details}}
                    {{partial "company/partials/-details"}}
                {{/if}}
                {{#if controller.tabList.users}}
                    {{partial "company/partials/-users"}}
                {{/if}}
                {{#if controller.tabList.files}}
                   {{partial "company/partials/-files"}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

