{{#if childPois}}
    <div class="row">
        <div class="row"><br></div>
        <div class="col-lg-10">

            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Notify Party</th>
                    <th>Phone</th>
                    {{#if app_controller.user_record.poi_edit}}
                    <th>Edit</th>
                    {{else}}
                        <th></th>
                    {{/if}}
                    {{#if app_controller.user_record.poi_remove}}
                    <th>Remove</th>
                    {{else}}
                        <th></th>
                    {{/if}}
                </tr>
                </thead>
                <tbody>
                {{#each poi in childPois}}
                    <tr>
                        <td>{{{poi.name}}}</td>
                        <td>{{{poi.street}}}</td>
                        <td>{{{poi.notifyParty}}}</td>
                        <td>{{{poi.phone}}}</td>

                    {{#if poi.canEdit}}
                        <td><a href='#' {{action 'edit_record' poi true}}><span class="glyphicon glyphicon-pencil"></span></a></td>
                    {{/if}}
                    {{#if poi.canRemove}}
                        <td><a href="#" {{action "open_modal" 'port.modals.poi-remove' poi}}><span class="glyphicon glyphicon-remove"></span></a></td>
                    {{/if}}
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </div>
        <div class="col-lg-2"></div>
    </div>
{{else}}

    {{#if controller.user_record.poi_new}}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="row">
                    <a href="#" {{action 'goTo' true}}>
                        <h1 style="text-align: center" >Add depot</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
{{/if}}