<div class="row" style="margin-top: 40px; margin-bottom: 25px; margin-left: 25px;">
    <div class="col-lg-12">
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-10">
                {{#view 'upload-logo' value1='company'}}
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-logo">
                                Browse logo&hellip; <input type="file" multiple>
                            </span>
                        </span>
                        {{input id="selected_logo" type="text" placeholder="max. 10 MB" class='form-control'}}
                        <span class="input-group-btn">
                        <button id='button_upload_logo' {{bind-attr value=id}} type="button" data-loading-text="Loading..." class="btn btn-primary btn-130 pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Upload</button>
                        </span>
                    </div>
                {{/view}}
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-10">
                {{#view 'upload-file' value1='company'}}
                    <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse file&hellip; <input type="file" multiple>
                                </span>
                            </span>
                        {{input id="selected_file" type="text" placeholder="max. 10 MB" class='form-control'}}
                        <span class="input-group-btn">
                            <button id='button_upload' {{bind-attr value=id}} type="button" data-loading-text="Loading..." class="btn btn-primary btn-130 pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Upload</button>
                            </span>
                    </div>
                {{/view}}
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class=row>
            <div class="col-lg-8">
                <div class='page-header'><h3>All files</h3></div>
            </div>
            <div class="col-lg-2">
                {{#if is_myCompany}}
                    <button type="button" class="btn btn-default custom120 pull-right" {{action "download_basicTemplate"}} style="margin-top: 50px">
                        Basic template
                    </button>
                {{/if}}
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class=row>
            <div class="col-lg-10">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Download</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each file in files}}
                        <tr>
                            <td>{{file.name}}</td>
                            <td>{{file.type}}</td>
                            <td><a href="#" {{action "download_file" file.id}}><span class="glyphicon glyphicon-download"></span></a></td>
                            <!--<td><a class="fileDownloadSimpleRichExperience" href= 'api/files/{{!{{unbound file.id}}?token={{!{{unbound App.token}}&download=true'><span class="glyphicon glyphicon-download" ></span></a></td>-->
                            <td><a href="#"><span class="glyphicon glyphicon-remove"{{action "open_modal" 'company.modals.remove-file' file 'file'}}></span></a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>