<div class="container">
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class= "well well-lg" style="background-color: #FAFDFD">
                        <p class="lead"><h3>Voyage</h3>
                        <p><h5>Vessel: <b>{{vesselName}}</b></h5>
                        <p><h5>Number: <b>{{number}}</b></h5>
                        <h3 class="page-header"></h3>

                        {{#link-to 'voyage/search-record'}}
                            <button type="button" class="btn btn btn-primary btn-group-justified">
                                Go to search
                            </button>
                        {{/link-to}}
                    </div>
                </div>
                <div class="col-lg-9">
                    <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
                        <li {{bind-attr class="controller.tabList.path:active"}}>
                            <a href="#"{{action setTabs "path"}}><h4>Path</h4></a>
                        </li>
                        <li {{bind-attr class="controller.tabList.details:active"}}>
                            <a href="#" {{action setTabs "details"}}><h4>Details</h4></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in">
                            {{#if controller.tabList.path}}
                                {{partial "voyage/partials/-tab-path"}}
                            {{/if}}
                            {{#if controller.tabList.details}}
                                {{partial "voyage/partials/-tab-details"}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>