<div class="container">
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class= "well well-lg" style="background-color: #FAFDFD">
                        <p class="lead"><h3>New Voyage</h3></p>
                        <p><h5>Name: <b>{{newName}}</b></h5></p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
                        <li class="active"><a href="#details" data-toggle="tab"><h3>Path</h3></a></li>
                        <li class="disabled" id="UL"><a data-tab="tabDetailsNew"><h3>Details</h3></a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="details">
                            <div class="row" style="margin-top: 40px; margin-bottom: 25px; margin-left: 25px;">
                                <div class="col-lg-12">
                                    <div class="row" style="margin-bottom: 15px">
                                        <div class="col-lg-3"><h4>Vessel</h4></div>
                                        <div class="col-lg-9">
                                            <!--<a id="autocomplete-vessel">-->
                                            {{select-2
                                            content= app_controller.autocompleteVessel
                                            value= controller.searchVessel
                                            optionLabelPath="nickname"
                                            placeholder="Choose a vessel"
                                            typeaheadNoMatchesText="No vessel found for '%@'"
                                            typeaheadErrorText="Loading failed: %@"
                                            enabled=true
                                            allowClear=true}}
                                                {{!{{auto-complete source=app_controller.autocompleteVessel destination=controller.searchVessel searchPath="nickname" minChars=1}}
                                            <!--</a>-->
                                        </div>
                                    </div>

                                    {{#if controller.searchVessel}}
                                        {{#view "check-unique-voyage-number" model='voyage' filter_vessel='vessel' filter_number='number' vessel=controller.searchVessel number=newNumber}}
                                            <div class="row" style="margin-bottom: 15px">
                                                <div class="col-lg-3"><h4>Number</h4></div>
                                                <div class="col-lg-9">
                                                    {{input value= newNumber type=number class='form-control'}}
                                                </div>
                                            </div>
                                        {{/view}}
                                    {{/if}}

                                    <div class="row">
                                        <div class="col-lg-3"><h4>Previous voyage</h4></div>
                                        <div class="col-lg-9">
                                            <!--<a id="autocomplete-voyage">-->
                                            {{select-2
                                            content= app_controller.autocompleteVoyage
                                            value= controller.searchVoyage
                                            optionLabelPath="name"
                                            placeholder="Choose a voyage"
                                            typeaheadNoMatchesText="No voyage found for '%@'"
                                            typeaheadErrorText="Loading failed: %@"
                                            enabled=true
                                            allowClear=true}}
                                                {{!{{auto-complete source=app_controller.autocompleteVoyage destination=controller.searchVoyage searchPath="name" minChars=1}}
                                            <!--</a>-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="panel panel-default" style="margin-top: 25px; margin-bottom: 15px">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <p class="lead">Add items to path</p>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button type="submit" class="btn btn-default btn-130 pull-right" {{action "add_item" this}}>Add item</button>
                                                        </div>
                                                    </div>
                                                </h4>
                                            </div>

                                            <div class="panel-body">
                                                <div class="row" style="margin-top: 25px; margin-bottom: 35px">
                                                    <div class="col-lg-6">
                                                        <label style="color: #000000">Port</label>
                                                        <!--<a id="autocomplete-searchPort">-->
                                                        {{select-2
                                                        content= app_controller.autocompletePoiPort
                                                        value= controller.searchPort
                                                        optionLabelPath="name"
                                                        placeholder="Choose a port"
                                                        typeaheadNoMatchesText="No port found for '%@'"
                                                        typeaheadErrorText="Loading failed: %@"
                                                        enabled=true
                                                        allowClear=true}}
                                                           {{! {{auto-complete source=app_controller.autocompletePoiPort destination=controller.searchPort searchPath="name" minChars=0}}
                                                        <!--</a>-->
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label style="color: #000000">Template</label>
                                                        <a id="autocomplete-searchTemplate">
                                                            {{auto-complete source=app_controller.autocompleteTemplate destination=controller.searchTemplate searchPath="name" minChars=0}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3"><h4>Path</h4></div>
                                        <div class="col-lg-3"><h4></h4></div>
                                        {{#view "sortable" type='new'}}
                                            <div class="col-lg-9">
                                                <div class="sortable" style="cursor: pointer">
                                                    {{#each controller.legs itemViewClass="Em.View"}}
                                                        <ul class="list-group">
                                                            <li class="list-group-item" data-id="{{unbound this.poi.id}}" data-value="{{unbound view.contentIndex}}"> {{!{{this.poi.id}}  <!--FIXME: itemViewClass causa un inconsistenza dei dati per cui al refresh della pagina le legs spariscono dal layout -->
                                                                <span class="glyphicon glyphicon-sort pull-left" style="color: #428bca; width: 10%"></span>
                                                                <strong>{{this.poi.name}}</strong>      {{!{{this.poi.name}}
                                                                <button type="button" class="close" {{action "remove_item" view.contentIndex}}>&times;</button>
                                                            </li>
                                                        </ul>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        {{/view}}
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5 class="page-header"></h5>
                                            {{#view 'standby-button' action_name='create_record' arg1=null arg2=null data-style="expand-left" id="form-submit" class="btn btn-primary ladda-button btn-130 pull-right"}}
                                                <span class="ladda-label">Save</span>
                                            {{/view}}
                                            <!--<button type="submit" class="btn btn-primary btn-130 pull-right"{{!{{action "create_record"}}>Save</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
